body {
  background-color: #000;
  background-image: url('http://merlin.lightcorp.net/morgan-wiki/Visualizations/DiscussionvsVandalismArt.png');
  background-position: top left;
  background-repeat:no-repeat;
  background-attachment:fixed;
  color: #111;
  font-family: Georgia, serif;
  font-size:12pt;
}

#title, #menu, #content, #footer, #source, #license, #posts-list, div#disqus_thread{
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  margin: 10px;
}

p, img, ul, h1, h2, h3, h4, h5, h6, address{
  padding-left: 10px;
  padding-right: 10px;
}

h1,h2,h3,h4,h5,h6, address {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
}

h1#title{
  text-align: center;
  font-size:36pt;
  font-weight:bold;
}

ul#menu,ul#posts-list {
  list-style: none;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#menu li {
  float: right;
  margin: 10px;
}

ul#posts-list {
  font-size: 14pt;
}
#menu {
  font-size:10pt;
}
img#license {
  float:right;
}
div#license,div#menu, #source{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size:10pt;
}
p#license, #source{
  text-align: right;
}
