@font-face {
  font-family: "Orbitron Black";
  src: url("/fonts/Orbitron/OTF/orbitron-black.otf");
}
@font-face {
  font-family: "Goudy Bookletter 1911";
  src: url("/fonts/GoudyBookletter1911.otf");
}
@font-face {
  font-family: "Miso";
  src: url("/fonts/MISO____.OTF");
}
@font-face {
  font-family: "Miso Bold";
  src: url("/fonts/MISO-BOL.OTF");
}
body {
  background-color: #000;
  background-image: url('http://a3.twimg.com/profile_background_images/65470549/background.twit.jpg');
  background-position: top left;
  background-repeat:no-repeat;
  background-attachment:fixed;
  color: #111;
  font-family: "Goudy Bookletter 1911", Georgia, serif;
  font-size:12pt;
}

#menu, #content-container, #footer-container{
  background-color: rgba(255,255,255,0.84);
  border-radius: 20px;
  margin: 10px;
}

h1,h2,h3,h4,h5,h6, address {
  font-family: "Miso Bold", "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
}

h1#title{
  font-family: "Orbitron Black", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  font-size:36pt;
  font-weight:bold;
}

ul#menu,ul#posts-list {
  list-style: none;
  text-align: center;
  font-family: "Miso Bold", "Helvetica Neue", Helvetica, sans-serif;
}
#menu li {
  float: right;
  margin: 10px;
  font-size:14pt;
}

ul#posts-list {
  font-size: 18pt;
}

#content, #footer {
  padding: 20px;
}

#content p, #content li {
  font-size: 14pt;
}

img#license {
  float:right;
  margin-left: 10px;
}

#license, #menu, #source{
  font-family: "Miso", "Helvetica Neue", Helvetica, sans-serif;
  font-size:12pt;
  text-align: right;
}

div.gist-data {
  height: 350px;
  overflow: auto;
}

div.gist-meta {
  font-family: "Miso", "Helvetica Neue", Helvetica, sans-serif;
}
