[submodule "css/960.gs"]
	path = css/960.gs
	url = git://github.com/nathansmith/960-Grid-System.git
[submodule "_posts/visualizations/wikipedia"]
	path = _posts/visualizations/wikipedia
	url = git@gist.github.com:274776.git
[submodule "_posts/hacks/jekyll-hacks"]
	path = _posts/hacks/jekyll-hacks
	url = git@gist.github.com:274815.git
[submodule "_posts/archives-are-bitchun"]
	path = _posts/archives-are-bitchun
	url = git@github.com:papyromancer/iacc-promo-subtitles.git
[submodule "_posts/iacc-promo"]
	path = _posts/iacc-promo
	url = git@github.com:papyromancer/iacc-promo-subtitles.git
[submodule "ogv"]
	path = ogv
	url = git@github.com:ogv/ogv.github.com.git
