[submodule "css/960.gs"]
	path = css/960.gs
	url = git://github.com/nathansmith/960-Grid-System.git
[submodule "_posts/visualizations/wikipedia"]
	path = _posts/visualizations/wikipedia
	url = git@gist.github.com:274776.git
[submodule "_posts/hacks/jekyll-hacks"]
	path = _posts/hacks/jekyll-hacks
	url = git@gist.github.com:274815.git
[submodule "_posts/hacks/varnish"]
	path = _posts/hacks/varnish
	url = git@gist.github.com:379592.git
[submodule "_posts/videos/iacc-promo-subtitles"]
	path = _posts/videos/iacc-promo-subtitles
	url = git@github.com:papyromancer/iacc-promo-subtitles.git
[submodule "_posts/hacks/webM"]
	path = _posts/hacks/webM
	url = git@gist.github.com:450103.git
