<div class="contact">
  <address id="hcard-Andrew-Davis" class="vcard">
    <img src="http://papyromancer.net/avatar.jpg" alt="photo of " class="photo"/><br />
    <div class="fn">Andrew Davis</div>
    <div class="fn nickname">papyromancer</div>
    <a class="email" href="mailto:papyromancer@lightcorp.net">papyromancer@lightcorp.net</a>
    <div class="tel">+1.601.255.4393</div>
    <a class="url" href="xmpp:papyromancer@gmail.com">Jabber</a>
    <a class="url" href="skype:papyromancer?chat">Skype</a>
    <a rel="me" class="url" href="http://twitter.com/papyromancer">Twitter</a><br />
  </address>
</div>
